.datepicker.dropdown-menu{
	padding: 10px;
}
.datepicker thead{
	background-color: #f1f1f1;
}
.datepicker .cw,
.datepicker td,
.datepicker th{
	margin: 0px;
	padding: 0px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	text-align: center;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.active:active,
.datepicker table tr td.active.active:focus{
	background-color: var(--theme-color-primary);
	background-image: none;
	color: #fff;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:focus{
	background-color: var(--theme-color-secondary);
	background-image: none;
	color: #fff;
}